---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<img src="https://ahmadbelb.github.io/Blog/images/map.png" alt="Maps showing forest dryness in western USA" style="width:100%; padding-bottom:0px;">
<i>Predicted vegetations wetness over western US using remote sensing and deep learning.</i>
<br>
<br>
You can also find my publications on <u><a href="https://scholar.google.com/citations?user=bRXn_ZAAAAAJ&hl=en">my Google Scholar profile</a>.</u>
<h2>PEER-REVIEWED PUBLICATIONS:</h2> 
{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
<h2>TECHNICAL REPORTS: </h2>
{% include base_path %}

{% for post in site.publications.poster reversed %}
  {% include archive-single.html %}
{% endfor %}
<h2>PROJECT REPORTS: </h2>

<h2> POSTER PRESENTATIONS:</h2>
<hr>
<body class="sponsored">

<h2 class="centered"> Research graciously funded by</h2>

<div class="row">
  <div class="column">
    <a class="greyed" href="https://www.eng.ed.ac.uk/" target="_blank"><img src="https://ahmadbelb.github.io/Blog/images/ed.png" alt="Edinburgh logo" border="0" width="550"></a>
  </div>
  <div class="column">
      <a class="greyed" href="https://www.Arup.com/" target="_blank"><img src="https://ahmadbelb.github.io/Blog/images/Arup.png" alt="Arup logo" border="0" width="550"></a>
    </li>
  </div>
  <div class="column">
      <a class="greyed" href="https://www.transport.gov.scot/" target="_blank"><img src="https://ahmadbelb.github.io/Blog/images/scot.png" alt="scot logo" border="0" width="550"></a>
  </div>
  

</div>
</body>
