---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---
<link rel="apple-touch-icon" sizes="180x180" href="https://ahmadbelb.github.io/Blog/images/favicon/apple-touch-icon.png">
{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}