---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<a style='text-decoration: none; '>
  <img src='https://ahmadbelb.github.io/Blog/images/Trada.jpeg' alt="At TRADA Student Design Competition, Timber Research and Development Association, London , UK" style='width: 140px'>
  <div style='width: 130px; text-align: center;'>At TRADA Student Design Competition, Timber Research and Development Association, London , UK</div>
</a>

<iframe src="https://ahmadbelb.github.io/Blog/talkmap/map.html" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="https://ahmadbelb.github.io/Blog/talkmap/map.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
